/*Global*/
$colour-black: #000;
$colour-brown: #bea67c;
$colour-white: #fff;
$transition: all 1s;
/*Underline*/
.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 150%;
  height: 10px;
  background-color: $colour-brown ;
  transform: translateX(-50%);
}

.underline-product{
  position: relative;
}

.underline-product::before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 80%;
  width: 20%;
  height: 3px;
  background-color: $colour-brown ;
  transform: translateX(-50%);
}

.space{
  padding-left: 120px;
}

.type-of {
  font-family: 'Source sans 3';
  font-size: 14px;
  font-style: oblique 100deg;
  font-weight: bold;
}

.type-of span{
  color: $colour-brown;
  font-weight: bold;
}

/* Navigation */
.navigation ul {   
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 20px;
  cursor: pointer;
}

.navigation ul li {
  margin-left: 21px;   
}

.logo {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: $colour-white;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-style: oblique 100deg;
  font-size: 40px;
  font-family: 'Source Sans 3', cursive;
}

.logo-a {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: $colour-white;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-style: oblique 100deg;
  font-size: 20px;
  font-family: 'Source Sans 3', cursive;
}

.double {
  height: 80vh;
  max-width: 100%;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/background.png);
}

.justify {
  justify-content: space-between;
}

body {
  margin: 0;
}

/* Splash */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash {  
  color: $colour-brown;
  min-height: 500px;
}

.splash-inner {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: oblique 100deg;
}

.page-title span {
  font-style: oblique 100deg;
  font-size: 80px;
  font-weight: 700;
}

/* Button styles */
.btn {  
  max-width: 100px;
  padding: 16px;
  font-family: 'Source sans 3';
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  background-position: 100% 0;
  background-size: 300%;
}

.btn-one {
  color: $colour-white;
}

/* Aboutr US */
.services {
  position: relative;
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/about-us.jpg);
  background-size: cover;
  height: 80vh;
}


.services-title {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin-bottom: 0;
  padding: 0;
}

.page-service {
  margin-bottom: 0;
  color: $colour-brown;
}

.services-title a {
  font-size: 15px;
  font-style: italic;
}

.left {
  color: $colour-white;
  text-align: left;
  justify-content: baseline;
  font-size: 30px;
  font-style: italic;
}

.right {
  color: $colour-white;
  text-align: right;
  justify-content: end;
  font-size: 30px;
  font-style: italic;
}

h3 {
  font-size: 15px;
  font-style: italic;
}

/* Footer */
.footer .row {
  text-align: center;
  justify-content: center;
}

.logo2 {
  
  list-style-type: none;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

section .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PRODUCTS */

.portofolio {
  background: $colour-white;
  margin-bottom: 50px;
}

.portofolio .row {
  justify-content: center;
}

.card-image img { 
  width: 100%;
  display: block;
  height: 300px;   
}

.card-body {
 
  max-width: 100%;
}

.card-body h5  {
  margin-bottom: 0;
  font-size: 30px;

}

.card-body .space {
  margin-top: 0;
  font-size: 18px;
  font-style: italic;
}

.services-images-row {
  padding-top: 50px;
}

/* Contact us */

.contact {
  flex-wrap: wrap;
  background: $colour-brown;
}

.contact-title {
  color: #fff;
  font-size: 48px;
  margin: 0 0 72px 0;
}

.contact-data {
  flex: 1 0 0;
}

form {
  flex: 2 0 0;
}

fieldset {
  border: none;
  width: 100%;
  margin: 10px auto;
}

input {
  background: $colour-brown;
}

.form-input-container {
  border-bottom: 3px solid #fff;
}

input {
  width: 100%;
  color: #fff;
  background: $colour-brown;
  border: none;
  padding: 8px;
  height: 35px;
}

textarea {
  background: $colour-brown;
  border: none;
  color: $colour-white;
  height: 200px;
}

textarea::placeholder {
  color: $colour-black
}

input::placeholder {
  color: $colour-black; 
}

button[type='submit'] {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: Inconsolata;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: $transition;
}

.btn-six {
  border-color: $colour-white;
  color: $colour-white;
  background: $colour-brown;
  background-image: linear-gradient(90deg, $colour-brown 50%, transparent 50%);
}

.btn-six:hover {
  color: $colour-white;
}

/* Contact us */

.contact-data {
  color: $colour-white;
  padding-left: 96px;
}

.contact-data-header span{
  font-size: 14px;
  font-weight: 100;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.container-contact {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.contact-title {
  color: $colour-brown;
  font-size: 48px;
  margin: 0 0 72px 0;
}