// normalize default styles
@import "normalize";

// Bootstrap

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";
@import "bootstrap/grid";



/* Variables */
$color-blue:#0097e6;
$color-green:#33d9b2;
$color-red:#ff5252;
$text-on-color:#ffffff;
$text-on-white:#2c2c54;

/* Global */
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: Inconsolata;
  color: #2c2c54;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

/* Navigation */
.navigation {
    
  background: $color-blue;
  padding: 12px 0;
}

.navigation ul {   /* remove default style for list ul */ 
  padding: 0;
  margin: 0;
  list-style-type: none;   /* turn off bullets (punktory) */
}

.navigation ul li {         /* style for 1st level menu - about, whatwe do, projects, contacts */
  display: inline-block;
  margin-right: 36px;
  position: relative;
    
    
}

.navigation a {
  text-decoration: none;  /*znikaja podkreslniki */
  color: $text-on-color;
}

.navigation ul ul li {  /* linki drugiego poziomu */
  display: block;
  margin-bottom: 12px;
  background: #fff;
  border-radius: 20%;
   
}

.navigation li ul {   /* listy drugiego rzedu*/
  display: none;
  text-align: center;
  position: absolute;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  border-top: 12px solid $color-blue;
  background-position: 0 100% ;
  border-radius: 10%; 
}

.navigation li ul a {
  color: $color-blue;
  display: block;    /* linki 2go poziomy maja zajmowac 100% szerkosci swojego rodzica */ 
}

.navigation li:hover ul {
  display: block;
}

.navigation li ul:hover {
  background: $color-blue; 
}

.navigation li ul a:hover {
  color: #fff;
  background: $color-blue;
  background-image: linear-gradient(90deg, #0097EF 50%, transparent 50%);
}

/* Splash */

.splash {   /* element rodzic parent */
    background: $color-blue;
    color: #fff;
    min-height: 500px;
    display: flex;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

h1 {
    margin: 0;
    font-size: 50px;
    word-spacing: -24px;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    margin: 24px 0;
    font-weight: 400;
    font-size: 16px;
}

.page-title span {
    font-style: oblique 40deg;
    color: $color-red;
}